<head>
    <meta charset="UTF-8">
    <title>やれやれ DA✰ZE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{if .IsHome}}{{ .Site.Params.description }}{{else}}{{.Description}}{{end}}" />
    <meta property="og:title" content="{{ if not .IsHome }}{{with .Title }}{{ . }}{{ end }}{{else}}{{ .Site.Title }}{{end}}" />
    <meta property="og:description" content="{{if .IsHome}}{{ .Site.Params.description }}{{else}}{{.Description}}{{end}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{.Page.Permalink}}" />
    <meta itemprop="name" content="{{ if not .IsHome }}{{with .Title }}{{ . }}{{ end }}{{else}}{{ .Site.Title }}{{end}}">
    <meta itemprop="description" content="{{if .IsHome}}{{ .Site.Params.description }}{{else}}{{.Description}}{{end}}">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png">
    {{ $style := resources.Get "scss/style.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{$style.Permalink}}" >
</head>
