{{ $icon_size := "32px" }}

{{ with .Site.Params.socials.email}}
<a
  href="{{ . }}"
  target="_blank"
  class="social-link"
  rel="noopener"
>
  {{partial "svg/gmail.svg"}}
</a>&nbsp;&nbsp;
{{ end }}

{{ with .Site.Params.socials.github}}
<a
  href="{{ . }}"
  target="_blank"
  class="social-link"
  rel="noopener"
>
  {{partial "svg/github.svg"}}
</a>&nbsp;&nbsp;
{{ end }}

{{ with .Site.Params.socials.twitter}}
<a
  href="{{ . }}"
  target="_blank"
  class="social-link"
  rel="noopener"
>
  {{partial "svg/twitter.svg"}}
</a>&nbsp;&nbsp;
{{ end }}

{{ with .Site.Params.socials.bilibili}}
<a
  href="{{ . }}"
  target="_blank"
  class="social-link"
  rel="noopener"
>
  {{partial "svg/bilibili.svg"}}
</a>&nbsp;&nbsp;
{{ end }}

{{ with .Site.Params.socials.zhihu}}
<a
  href="{{ . }}"
  target="_blank"
  class="social-link"
  rel="noopener"
>
  {{partial "svg/zhihu.svg"}}
</a>&nbsp;&nbsp;
{{ end }}

{{ with .Site.Params.socials.love}}
<a
  href="{{ . }}"
  target="_blank"
  class="social-link"
  rel="noopener"
>
  {{partial "svg/love.svg"}}
</a>
{{ end }}